# compiled objects and libraries
*.log
*.mod
*.o

# tool executables built by running maketools
bin/cgns2nek
bin/exo2nek
bin/genbox
bin/gencon
bin/genmap
bin/gmsh2nek
bin/n2to3
bin/nekamg_setup
bin/nekmerge
bin/postex
bin/postx
bin/pretex
bin/prex
bin/re2torea
bin/reatore2

# Misc
*.swp
.DS_Store

__pycache__
