language: fortran

sudo: required

env:
  matrix:
    - TEST_CASE=Eddy_EddyUv::test_PnPn_Serial  MPI=0 FC=gfortran CC=gcc

    - TEST_CASE=Axi::test_PnPn_Parallel
    - TEST_CASE=Axi::test_PnPn2_Parallel

    - TEST_CASE=FsHydro::test_PnPn2_Parallel

    # - TEST_CASE=Benard_Ray9::test_PnPn_Parallel
    # - TEST_CASE=Benard_Ray9::test_PnPn2_Parallel

    - TEST_CASE=Eddy_EddyUv::test_PnPn_Parallel
    - TEST_CASE=Eddy_LegacySize::test_PnPn2_Parallel
    - TEST_CASE=Eddy_Rich::test_PnPn2_Parallel

    - TEST_CASE=Ethier::test_PnPn_Parallel
    - TEST_CASE=Ethier::test_PnPn2_Parallel
    - TEST_CASE=Ethier::test_PnPn2_Parallel PARALLEL_PROCS=3 

    - TEST_CASE=KovStokes::test_PnPn2_Parallel
    - TEST_CASE=KovStokes::test_PnPn_Parallel

    - TEST_CASE=LowMachTest::test_PnPn_Parallel

    - TEST_CASE=ConjHt::test_PnPn_Parallel

#    - TEST_CASE=CmtInviscidVortex::test_PnPn_Parallel

    - TEST_CASE=MvCylCvode::test_PnPn_Parallel

    - TEST_CASE=Eddy_Neknek::test_PnPn_Parallel
    - TEST_CASE=Eddy_Neknek::test_PnPn2_Parallel
    - TEST_CASE=Eddy_NeknekU::test_PnPn2_Parallel

    - TEST_CASE=IO_Test::test_PnPn2_Parallel

    - TEST_CASE=InclDef::test_PnPn_Parallel MPI=0 FC=gfortran CC=gcc

before_install: 
  - export ROOT_DIR=`pwd`

  - export NEK_SOURCE_ROOT=$ROOT_DIR
  - export EXAMPLES_ROOT=$ROOT_DIR/short_tests
  - export VERBOSE_TESTS=true
  - export PARALLEL_PROCS=2

  # Install MPICH
  - sudo apt-get update -qq
  - sudo apt-get install -y libmpich-dev mpich

  # Set up Python virtualenv
  - virtualenv -p python2.7 $ROOT_DIR/python2-env
  - source $ROOT_DIR/python2-env/bin/activate
  - export PYTHONPATH="$ROOT_DIR/short_tests:$PYTHONPATH"

install:
  - pip install --upgrade pip
  - pip install pytest

script: 
  - py.test -s -v $ROOT_DIR/short_tests/NekTests.py::$TEST_CASE
